.btn {
	display: block;
	text-align: center;
	height: 52px;
	font-size: 17px;
	line-height: 48px;
	font-weight: 700;
	text-transform: uppercase;
	background-color: transparent;
	border: 2px solid #444444;
}